name: Build and Deploy Docker Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Standard Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          target: typst-alpine
          tags: |
            ghcr.io/nakanishi123/typst-docker:0.13.1-alpine

      - name: Build and Push JP Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          target: typst-jp-alpine
          tags: |
            ghcr.io/nakanishi123/typst-docker:0.14.0-jp-alpine
            ghcr.io/nakanishi123/typst-docker:latest
